// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.b1 {
    padding: 10px 10px;
    width: 500px;
    margin: 30px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    font: 100% Helvetica, sans-serif;
    box-shadow: 0 0 20px rgba(169, 169, 169, 0.25);
    h1 {
      font-size: 25px;
      width: auto;
      color: rgb(53, 97, 243);
    }
}